## Live Coding Notebook
### May 1, 2024

#### Comments

1. **Single-line comments:** Single-line comments are used for adding comments on a single line. They start with the `#` symbol and continue until the end of the line. Anything after the `#` on that line is considered a comment and is ignored by the Python interpreter. For example:

```python
# This is a single-line comment
print("Hello, World!")  # This is also a comment
```

2. **Multi-line comments:** Python does not have a specific syntax for multi-line comments like some other programming languages do. Instead, multi-line comments are achieved by using triple quotes (`"""` or `'''`). When you place text within triple quotes, Python treats it as a multi-line string literal. While this is not technically a comment, it serves a similar purpose. These can span multiple lines and can be used for documentation or temporarily disabling blocks of code. For example:

```python
"""
This is a multi-line comment (actually a string literal).
It can span multiple lines.
"""
print("Hello, World!")
```

```python
'''
This is also a multi-line comment (a string literal).
It can span multiple lines.
'''
print("Hello, World!")
```

While using triple quotes for multi-line comments isn't a standard practice, it's a workaround when needed. However, using `#` for single-line comments is the standard way of commenting in Python.

In [ ]:
# Today is May 1st, 2024

'''Today is Wednesday
And it is sunny outside
And not raining'''

In [2]:
print(42)
print(2024)

42
2024

In [5]:
type("42.4")

str

In [6]:
print(10 ** 2)

100

In [7]:
abs(-43)

43

In [10]:
round(2/3, 5)

0.66667

In [11]:
int(3.99)

3

In [14]:
int("3")

3

In [13]:
type(int("3"))

int

In [16]:
int("4")

4

In [17]:
float(7)

7.0

In [18]:
print(type(round(2 * 1.5)))

<class 'int'>

In [19]:
2 * 1.5

3.0

In [20]:
round(3.0)

3

In [21]:
type(3)

int

In [25]:
print("int")

int

In [22]:
print(type(3))

<class 'int'>

In [23]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [24]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __annotations__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 904
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148031744
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [ ]:
# degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [32]:
def c_to_f(degrees_c):
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

hot = c_to_f(150)

In [34]:
def c_to_f_2(degrees_c):
    print((9 / 5) * degrees_c + 32)

hot_2 = c_to_f_2(150)

302.0

In [38]:
def divide(dividend, divisor):
    return dividend / divisor

divide(10, 0)

ZeroDivisionError: division by zero

In [39]:
def calc_sales_tax(price, tax_rate=0.13):
    return price * tax_rate

In [40]:
calc_sales_tax(5)

0.65

In [41]:
calc_sales_tax(5, 0.08)

0.4

In [51]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = price * tax_rate + 10000
    tip = price * tip_rate
    return price + tax + tip

In [53]:
calc_total_bill(100) # using all defaults

10128.0

In [54]:
calc_total_bill(100, 0.22)

10137.0

In [45]:
100 + (100 * 0.22) + (100 * 0.15)

137.0

In [50]:
calc_total_bill(100, tip_rate="0.22")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [47]:
100 + (100 * 0.13) + (100 * 0.22)

135.0

In [55]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [56]:
def c_to_f(degrees_c):
    '''Convert from degrees Celsius to degrees Fahrenheit'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [58]:
degrees_c

NameError: name 'degrees_c' is not defined

In [57]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert from degrees Celsius to degrees Fahrenheit

In [59]:
hot

302.0

In [ ]:
# function name and parameters --> function header

# '''docstring''' -> briefly describes what the function does

# body -> code that runs when a function is called

# return statement -> specifies what the output of the function should be, if no return statement it will 
# return None


# Variable Scope

# parameters are locally scoped variables -> variable can only be accessed within the function

# variables defined outside of a function have a global scope -> can be accessed from anywhere in the program

In [60]:
degrees_f

NameError: name 'degrees_f' is not defined

In [ ]:
# test-driven development (TDD)
# tests are written before the actual code implementation
# developers create failing tests that describe the desired behaviour of the code
# write code to make the tests pass

# checking-driven development
# focuses on writing checks or assertions after the code is implemented to verify its correctness
# checks are written based on the code's behaviour and requirements

In [61]:
def is_even_number(number):
    return number % 2 == 0

In [63]:
is_even_number(9)

False

In [ ]:
# assertion
# assert is a built-in keyword

In [65]:
def is_even_number(number):
    return number % 2 == 0

assert is_even_number(2342323433)

AssertionError:

In [ ]:
# purpose

# help catch logical errors, invalid assumptions, unexpected conditions
# serves as a sanity check to ensure that certain conditions are met throughout program execution

In [66]:
'This is a string'

'This is a string'

In [67]:
"So is this"

'So is this'

In [68]:
"these quotes do not match'

SyntaxError: unterminated string literal (detected at line 1) (1479919974.py, line 1)

In [70]:
'Let's see if this work'

SyntaxError: unterminated string literal (detected at line 1) (247174494.py, line 1)

In [71]:
"Let's see if this works now"

"Let's see if this works now"

In [72]:
'''
Line 1
Line 2
Line 3

'''

'\nLine 1\nLine 2\nLine 3\n\n'

### Escape sequences

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |
| \\r             | Carriage return    |

In [ ]:

# you can use this directly in a string, without the print statement

# \" -> double quotation mark
# \' -> single quotation mark

In [79]:
'This string won\\t result in an error thanks to the escape sequence'

'This string won\\t result in an error thanks to the escape sequence'

In [80]:
print('This is \\my birthday!')

This is \my birthday!

In [81]:
'hello' + ' ' + 'world'

'hello world'

In [82]:
'ha' * 3

'hahaha'

In [83]:
'The year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [84]:
"apple" == "Apple"

False

In [85]:
"apple" != "Apple"

True

In [86]:
'20' == 20

False

In [91]:
first_name = 'Ada'
last_name = 'Lovelace'

'Initials are' + first_name[0] + last_name[0]

'Initials areAL'

In [89]:
first_name[1]

'd'

In [93]:
last_name[2:4]

've'

In [94]:
last_name[:7]

'Lovelac'

In [95]:
phone_number = '+1 555-123-4567'

phone_number[3:6]

'555'

In [96]:
phone_number[-4:]

'4567'

In [97]:
job_qualifications = '''The successful applicant will be proficient in R,
 Python, SQL, statistics, and data visualization'''

In [98]:
job_qualifications

'The successful applicant will be proficient in R,\n Python, SQL, statistics, and data visualization'

In [99]:
'R' in job_qualifications

True

In [100]:
'r' in job_qualifications

True

In [101]:
'JavaScript' in job_qualifications

False

In [102]:
print(1, 'fish', 2, 'fish')

1 fish 2 fish

In [103]:
len("Helloooooooooo")

14

In [115]:
sorted("hellooo")

['e', 'h', 'l', 'l', 'o', 'o', 'o']

In [105]:
# String methods only work on strings- not on integers, floats, or booleans
# Methods are called differently from other functions


yell = 'I am not yelling'
yell.upper()

'I AM NOT YELLING'

In [106]:
yell

'I am not yelling'

In [107]:
yell.count('l')

2

In [110]:
file_name = 'file_name.csv'

In [111]:
file_name.endswith('.txt')

False

In [112]:
'long file name with lots and lots of space.csv'.replace(' ', '_')

'long_file_name_with_lots_and_lots_of_space.csv'

In [117]:
first_name = 'Ada'
last_name = 'Lovelace'

In [118]:
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [119]:
lunch = "hot dog"
dinner = "ramen"

"For lunch I want {} and for dinner I want {}".format(lunch, dinner)

'For lunch I want hot dog and for dinner I want ramen'

In [120]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's initials are A. L."

In [125]:
snack = 'carrot'

f'My favourite snack are {snack}'

'My favourite snack are carrot'

In [126]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [127]:
int('17')

17

In [128]:
int('17.0')

ValueError: invalid literal for int() with base 10: '17.0'

In [129]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [130]:
float('892')

892.0

In [131]:
float('you')

ValueError: could not convert string to float: 'you'

In [132]:
str(20)

'20'

In [133]:
str(34.7)

'34.7'

In [134]:
'20' + str(37.5)

'2037.5'

In [139]:
age = input('How old are you? ')
age

'26.8'

In [136]:
age_next_bday = int(age) + 1

In [137]:
age_next_bday

1234567891

In [140]:
print('Next birthday you will be {}'.format(age_next_bday))

Next birthday you will be 1234567891

In [141]:
print(f'Next birthday you will be {age_next_bday}')

Next birthday you will be 1234567891

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [142]:
not True

False

In [143]:
not False

True

In [144]:
3 == 3

True

In [145]:
not (3 == 3)

False

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [146]:
True and True

True

In [147]:
True and False

False

In [148]:
False and True

False

In [149]:
False and False

False

In [150]:
7 == 7 and 32 > 0

True

In [151]:
6 == 7 and 32 > 0

False

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [154]:
True or True

True

In [155]:
True or False

True

In [156]:
False or True

True

In [157]:
False or False

False

In [158]:
180 < 20 or 8 == 8

True

In [167]:
True and True and False

False

In [160]:
6 != 6

False

In [161]:
7 < 10

True

In [170]:
text = 'Maggie is coding in Python!'

text[3:7]

'gie '

In [172]:
"8" in "text8"

True