## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|


## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [1]:
6 != 9 and 38 > 2

True

In [2]:
"DOG" == "dog" or "Cat" == "Cat"

True

In [3]:
"DOG" == "dog"

False

In [4]:
"Cat" == "Cat"

True

In [ ]:
# return the first falsy value encountered 
# or the last truthy value if all operands are true

In [7]:
is_winter = "Kaylie" #string
is_cloudy = True #boolean

is_winter and is_cloudy

True

In [8]:
is_cloudy and is_winter

'Kaylie'

In [9]:
True and False and True

False

In [14]:
0 and True

0

In [12]:
True and 5 == 5

True

In [ ]:
# TO AVOID CONFUSION AND ENSURE CONSISTENT BEHAVIOUR, USE BOOLEAN VALUES (TRUE/FALSE)
# EXPLICITLY WHEN WORKING WITH LOGICAL OPERATIONS

## Operator precedence

Boolean operators are evaluated after arithmetic and comparison operators.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

In [16]:
year = 1990

if year >= 2000:
    print("We are in the 21st century.")

In [21]:
year = 1999

if year >= 2000:
    print("21st century")
else:
    print("NOT 21st century")

NOT 21st century

In [22]:
year = 1867

if year >= 2000:
    print("21st century")
elif year >= 1900:
    print("20th century")
elif year >= 1800:
    print("19th century")
elif year >= 1700:
    print("18th century")
else:
    print("wayyyyy back in time!")

19th century

In [24]:
day_of_week = 'Saturday'

if day_of_week == 'Saturday' or day_of_week == 'Sunday':
    print('Weekend')
else:
    print('Weekday')

Weekend

In [35]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments"
        else:
            return "It hasn't been 12 months since your last major eye exam"
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "You are eligible for 1 major eye exam and additional follow-ups"
            else:
                return "It hasn't been 12 months since your last major eye exam"
        else:
            return "You do not have a qualifying condition"
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "You are eligible for 1 major eye exam and additional follow-ups"
        else:
            return "It hasn't been 18 months since your last major eye exam"
    else:
        return "Invalid age input"

In [38]:
eye_exam_covered('34', True, 15)

TypeError: '<=' not supported between instances of 'str' and 'int'

In [27]:
eye_exam_covered(19, False, 11)

"It hasn't been 12 months since your last major eye exam"

In [54]:
# list

vowels = ['a', 'e', 'i', 'o', 'u', 'y']
print("{} are vowels.".format(vowels))
print(f"{vowels} are vowels.")

['a', 'e', 'i', 'o', 'u', 'y'] are vowels.
['a', 'e', 'i', 'o', 'u', 'y'] are vowels.

In [42]:
# best practice to create an empty list like this

empty_list = []
print('empty_list is', type(empty_list))

empty_list is <class 'list'>

In [43]:
empty_list2 = list()
print('empty_list is', type(empty_list2))

empty_list is <class 'list'>

In [46]:
scores = [90, 80, 82, 91, 80]
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
summary_functions = [len, sum, max, min]

In [47]:
mystery_solvers = [['Sherlock', 'Watson'],
                   ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
                   'Nancy'
                   ]

In [48]:
grades[0]

'K'

In [49]:
grades[6:9]

[6, 7, 8]

In [51]:
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
grades[-4:]

[9, 10, 11, 12]

In [52]:
grades[13]

IndexError: list index out of range

In [55]:
dsi = "There are lots of participants in this cohort"

'participants' in dsi

True

In [56]:
vowels

['a', 'e', 'i', 'o', 'u', 'y']

In [57]:
'e' in vowels

True

In [58]:
emma = 'cheese sandwich'
kaylie = emma

In [59]:
emma = 'ham sandwich'

In [60]:
kaylie

'cheese sandwich'

In [61]:
sandwich = ['bread', 'cheese', 'bread']

In [62]:
sandwich_copy = sandwich

In [63]:
sandwich[1] = 'ham'

In [64]:
emma_sand = ['bread', 'cheese', 'bread']

In [65]:
kaylie_sand = emma_sand

In [66]:
emma_sand[1] = 'tuna'

In [67]:
kaylie_sand

['bread', 'tuna', 'bread']

In [68]:
a = 1
b = a

In [69]:
a = 2

In [70]:
b

1

In [71]:
a = [1, 2]

In [72]:
b = a

In [73]:
b

[1, 2]

In [74]:
a[0] = 6

In [75]:
a

[6, 2]

In [76]:
b

[6, 2]

In [77]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [78]:
combo

['burger', 'fries', 'drink']

In [79]:
kid_meal

['burger', 'fries', 'drink']

In [80]:
combo[0] = 'chicken sandwich'

In [81]:
combo

['chicken sandwich', 'fries', 'drink']

In [82]:
kid_meal

['burger', 'fries', 'drink']

In [88]:
perfect_squares = [1, 4, 9, 16, 25, 36, 49]

len(perfect_squares)

7

In [89]:
max(perfect_squares)

49

In [90]:
sum(perfect_squares)

140

In [91]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers

In [92]:
characters

['a', 'b', 'c', 1, 2, 3]

In [94]:
letters * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [95]:
numbers * 2

[1, 2, 3, 1, 2, 3]

In [96]:
letters

['a', 'b', 'c']

In [97]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']
rainbow.append('purple')

In [98]:
# append is used to add a single element to the end of a list

rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']

In [99]:
rainbow.append(['purple', 'blue'])

In [100]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'blue']]

In [101]:
rainbow.extend(['magenta', 'pink'])

In [102]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'blue'],
 'magenta',
 'pink']

In [103]:
# unpack the elements of the iterable and add them one by one to the end of the list

rainbow.extend('red')

In [104]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple', 'blue'],
 'magenta',
 'pink',
 'r',
 'e',
 'd']

In [105]:
rainbow.insert(6, 'indigo')

In [106]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple', 'blue'],
 'magenta',
 'pink',
 'r',
 'e',
 'd']

In [107]:
rainbow.remove('red')

In [108]:
rainbow

['orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple', 'blue'],
 'magenta',
 'pink',
 'r',
 'e',
 'd']

In [109]:
del rainbow[0:3]

In [110]:
rainbow

['light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple', 'blue'],
 'magenta',
 'pink',
 'r',
 'e',
 'd']

In [111]:
rainbow.clear()

In [112]:
rainbow

[]

In [114]:
fruits = ['pineapple', 'apple', 'kiwi', 'banana']
fruits.sort()

In [115]:
# .sort() method reorders a list's values in place and returns None
fruits

['apple', 'banana', 'kiwi', 'pineapple']

In [117]:
veggies = ['potato', 'celery', 'cabbage', 'onion']
sorted(veggies)

['cabbage', 'celery', 'onion', 'potato']

In [118]:
# sorted() function takes a list as an argument 
# and returns a new list with sorted values
veggies

['potato', 'celery', 'cabbage', 'onion']

In [119]:
def last_letter(text):
    return text[-1]

sorted(veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'celery']

In [120]:
students_per_class = [['Grade 9', 20], ['Grade 10', 17],
['Grade 11', 13], ['Grade 12', 22]]

In [124]:
def second_element(item):
    return item[1]

# second_element take a sublist as input and return its second element

students_per_class.sort(key=second_element)



students_per_class


example = [1, [2,3]]
example[1][1]

3

In [122]:
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20], ['Grade 12', 22]]

In [123]:
def last_letter2(text):

    return text[-1]

def last_letter2(text):
    
    return text[-1]