# Jupyter Notebooks
Jupyter Notebooks are web applications that lets us combine pieces of executable code, text, images, and visualizations in a single document, or notebook. We have installed a Jupyter Extension that lets us run notebooks directly in Visual Studio Code (VS Code).

Sections of a notebook are called cells. Cells can be run independently of each other, and in any order.

## Adding text

Notebooks use markdown, a markup language, for formatting text. IBM publishes a [Jupyter-specific markdown cheat sheet](https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet).

To add a text cell:
1. Click **+ Markdown**
2. Add some text. When you are done editing, press `ctrl` + `enter` to run the cell and format your text.

To use VS Code with the Jupyter extension for writing and running code, follow these modified steps:

## Writing and Running Code in VS Code with Jupyter Extension

1. **Writing Code Cells:**
   - Use code cells to write your Python code. To create a new code cell, click on the `+ Code` button in the Jupyter toolbar.
   - Type or paste your Python code within the code cell.

2. **Running Code Cells:**
   - To execute a code cell, you can:
     - Click the `Run Cell` button (a triangle icon) in the Jupyter toolbar.
     - Use the keyboard shortcut `Shift + Enter`.
   - Output, if any, will be displayed below the cell after execution.

3. **Keyboard Shortcuts:**
   - Utilize keyboard shortcuts for faster execution:
     - `Shift + Enter`: Run the current cell and move to the next cell.
     - `Ctrl + Enter`: Run the current cell and stay on the same cell.
     - `Alt + Enter`: Run the current cell and insert a new cell below.

4. **Code Assistance and Auto-completion:**
   - The Jupyter extension in VS Code offers code assistance and auto-completion. Press `Tab` for suggestions while writing code.

5. **Saving and Renaming:**
   - Save your Jupyter notebook by clicking on `File` > `Save` or `File` > `Save As...`.
   - To rename the notebook, right-click on the notebook file in the file explorer on the left and select `Rename`.

6. **Managing Cells:**
   - Use the `+ Code` or `+ Markdown` buttons in the Jupyter toolbar to add new code or text cells, respectively.
   - You can rearrange the order of cells by clicking and dragging them in the Jupyter notebook.
   - Right-click on a cell in the Jupyter notebook to access options like deleting or moving the cell.

No problem! If you won't be using Google Colab or Drive, and you want to work exclusively in Visual Studio Code, here are modified instructions:

## Instructions for Accessing and Using the `data` Folder in Visual Studio Code

1. **Access GitHub Repository:**
   - Go to your GitHub repository where the `data` folder is located: [https://github.com/UofT-DSI/python](https://github.com/UofT-DSI/python)
   - Clone the repository to your local machine using the following command in your terminal or command prompt:
     ```
     git clone https://github.com/UofT-DSI/python.git
     ```
   - Navigate to the cloned repository on your local machine.

2. **Access and Use the `data` Folder in Visual Studio Code:**
   - Open Visual Studio Code.
   - Open the folder corresponding to the cloned GitHub repository using the "File" > "Open Folder..." menu option.
   - You should now see the `data` folder in your Visual Studio Code workspace.

3. **Working with the `data` Folder:**
   - You can access and use the contents of the `data` folder directly in your Python scripts or Jupyter notebooks within Visual Studio Code. For example, you can read data from files in the `data` folder using Python's file handling functions or libraries like Pandas.

# Hello! My name is Kaylie 

## And I'm the Technical Facilitator

We have a great team of **Learning Supports**

In [7]:
print(2 + 2)

4

### What is Python?

Python is a general-purpose programming language first released in 1991. It has since become a popular language for data science, thanks to an enthusiastic community and a large ecosystem of code libraries and tools that make it easier to perform common tasks throughout the data science life cycle.

int -> integer, whole numbers

float -> floating point data type, decimal numbers

strings -> text

booleans -> true/false

In [8]:
5 + 6

11

In [10]:
2.5 * 3.0

7.5

In [16]:
10 / 2 # division operator, returns float to maintain precision in divison operation

5.0

In [12]:
10 // 3 # floor division operator

3

In [19]:
round(10 / 3, 1)

3.3

In [14]:
10 % 3 # modulo or remainder

1

In [15]:
10 ** 3 # exponentiation

1000

In [20]:
True

True

In [21]:
False

False

In [22]:
true

NameError: name 'true' is not defined

In [23]:
false

NameError: name 'false' is not defined

| Operator | Description |
| --- | --- |
| `>` | Greater than |
| `>=` | Greater than or equal to |
| `<` | Less than |
| `<=` | Less than or equal to |
| `==` | Equal to |
| `!=` | Not equal to |

In [25]:
50 > 25

True

In [26]:
50 < 25

False

In [27]:
-15 >= -14.99

False

In [28]:
-15 <= -14.99

True

In [31]:
20 == 20

True

In [33]:
12 != 4

True

In [39]:
not(True)

False

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |

In [41]:
4 ** 2 + 2 == 6

False

In [44]:
4 ** 2 + 2 == 6

False

In [46]:
(2 + 2) * 2 - 2 == 6

True

In [48]:
-(2 + 2) * 2 -2 == 6

False

Variable names
- Can include letters, digits, and underscores

- Cannot start with a digit

- Are case sensitive

In [50]:
degrees_celsius = 25
Degrees_Celsius = 30

In [51]:
degrees_celsius

25

In [52]:
Degrees_Celsius

30

In [ ]:
# Can use tab and arrow keys to auto-complete your commands

degrees_celsius

degrees_celsius

Degrees_Celsius

Degrees_Celsius

In [60]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [54]:
degrees_fahrenheit

77.0

In [56]:
degrees_celsius

0

In [57]:
degrees_fahrenheit

77.0

In [61]:
degrees_fahrenheit

32.0

In [2]:
degrees_celsius = 0

In [3]:
degrees_celsius = degrees_celsius + 10
degrees_celsius

10

In [4]:
degrees_celsius

10

In [5]:
degrees_celsius = degrees_celsius - 1

In [6]:
degrees_celsius

9

In [7]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [ ]:
degrees_celsius = 0

In [9]:
kaylie = 1

In [10]:
lau = 2

In [11]:
julia = kaylie + lau

In [12]:
julia

3

In [13]:
kaylie = 100

In [14]:
julia

3

In [15]:
kaylie = kaylie + 50

In [16]:
kaylie

150

In [17]:
a = 1
a

1

In [19]:
b = 1
b

1

In [20]:
print(id(a))

4313509808

In [21]:
print(id(b))

4313509808

In [22]:
a = 2

In [23]:
print(id(a))

4313509840

In [1]:
a = 1

In [2]:
b = a

In [3]:
print(id(a))

4345196464

In [4]:
print(id(b))

4345196464

In [5]:
a = 2

In [6]:
b

1

In [7]:
print(id(a))

4345196496

In [8]:
print(id(b))

4345196464

In [10]:
dinner = "pasta"
lunch = dinner

print(dinner)

print(lunch)

dinner = "pizza"

print(dinner)

print(lunch)

lunch = dinner

print

pasta
pasta
pizza
pasta
pizza

In [11]:
# these two lines are doing the same thing
#degrees_celsius = degrees_celsius + 10

degrees_celsius = 0
degrees_celsius += 10 # this is more concise

In [12]:
degrees_celsius

10

In [13]:
days_of_the_year = 375
days_of_the_year -= 10

In [14]:
days_of_the_year

365

In [15]:
degrees_celsius = 0
degrees_celsius += 10.1

degrees_celsius

10.1

In [16]:
float(10)

10.0

In [ ]:
monday = 7

In [18]:
dsi = 3

dsi = dsi + 10

In [20]:

monday += 10

In [21]:
# Syntax Errors
# when our program contains code that isn't valid Python

12 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1155095823.py, line 4)

In [22]:
15 -

SyntaxError: invalid syntax (3508155505.py, line 1)

In [23]:
# Name errors

my_variable + 1

NameError: name 'my_variable' is not defined

In [24]:
# annotate code
# used to explain parts of code to human audiences

# this is a comment
# it is not evaluated when we run our code

In [30]:
"""
This entire block
is 
ignored
by
the 
interpreter
"""

# y = 1
x = 2

In [31]:
# White space:
# a space to either side of an operand
# split code across multiple lines by wrapping it in parentheses

tuesday = (10 + 2 
           * 2 + 6)

In [ ]:
# Comments:
# help explain sextions of code

# Clear and consistent variable naming

Version 1
```python
studentone_grade=90
StudentGrade2=50
stu3gr=74
avggrade=(studentone_grade+StudentGrade2+stut3gr)/3
```

Version 2 
```python
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = ((student1_grade
                  + student2_grade
                  + student3_grade)
                 / 3)
```