# Control Flow
## Practice Problems

### 1. Write a conditional that prints different messages if a bank account balance is below `$`3,000, between `$`3,000 and `$`10,000, or over `$`10,000.

HINT: You can check if a value `x` is between two other values with a condition like `5 <= x <= 10`, but you can also solve this problem by strategically ordering conditions.

In [3]:
# Your code goes here
bal = input('Enter Account Balance:') 
bal = int(bal)
if(bal < 3000):
    print('Balance is less than 3000')
elif(bal < 10000):
    print('Balance is between 3000 and 10000')
else:
    print('Balance is greater then 10000')

Balance is between 3000 and 10000

<details>
  <summary>Answer</summary>

  ```python
  balance = 3000

  if balance < 3000:
    print('Your balance is under $3,000')
  elif balance <= 10000:
    print('Your balance is between $3,000 and $10,000')
  else:
    print('Your balance is over $10,000.')

  # This would also be a valid solution:
  
  if balance < 3000:
    print('Your balance is under $3,000')
  elif balance >= 3000 and balance <= 10000:
    print('Your balance is between $3,000 and $10,000')
  else:
    print('Your balance is over $10,000.')

  # And so would this:

  if balance < 3000:
    print('Your balance is under $3,000')
  elif 3000 <= balance <= 10000:
    print('Your balance is between $3,000 and $10,000')
  else:
    print('Your balance is over $10,000.')
  ```
</details>

### 2. Create a list, `books`, containing the following items: `'War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin'`. Then:

- Using slicing or indexing, create the following:
    - An empty list
    - The last item of `books`
    - List of three items: 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin'.
   
- Using list methods:
    - Remove 'Pride and Prejudice' from the list.
    - Insert 'Harry Potter and the Chamber of Secrets' after 'Mockingjay'.

HINT: Try using the same number as the starting index and ending index of a slice. Useful list methods include `remove()` and `insert()`.

In [14]:
# Your code goes here
books = ['War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']
print(books)

emplty_list = []
print(emplty_list)

last_itm = books[-1]
print(last_itm)

three_itm = books[-3:]
print(three_itm)

books.remove('Pride and Prejudice')
print(books)

books.append('Harry Potter and the Chamber of Secrets')
print(books)

books.pop()
print(books)

books.insert(books.index('Mockingjay')+1, 'Harry Potter and the Chamber of Secrets' )
print(books)

['War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']
[]
Yevgeniy Onegin
['Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']
['War and Peace', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']
['War and Peace', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin', 'Harry Potter and the Chamber of Secrets']
['War and Peace', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']
['War and Peace', 'Mockingjay', 'Harry Potter and the Chamber of Secrets', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']

<details>
  <summary>Answer</summary>

  ```python
  books = ['War and Peace', 'Pride and Prejudice', 'Mockingjay', 'Three Musketeers', 'The Adventures of Robinson Crusoe', 'Yevgeniy Onegin']

  # an empty list
  books[0:0]

  # the last item
  books[-1]

  # the last three items
  books[-3:]

  # remove 'Pride and Prejudice'
  books.remove('Pride and Prejudice')

  # Insert Harry Potter and the Chamber of Secrets after Mockingjay
  # If you did not remove Pride and Prejudice, the index would be 3, not 2
  books.insert(2, 'Harry Potter and the Chamber of Secrets')

  books
  ```
</details>

### 3. Given the list `people`, sort it by people's first name, last name and age. Store the sorted lists as `by_first_name`, `by_last_name`, and `by_age`, respectively.  
`people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]`

HINT 1: We want our sorting function to return a new list, rather than modifying in place.

HINT 2: `sorted()` accepts a `key` argument. This argument is the name of a function to use when sorting list elements.

In [24]:
# Your code goes here
people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]
by_first_name = sorted(people, key = lambda x:x[0])
by_last_name = sorted(people, key = lambda x:x[1])
by_age = sorted(people, key = lambda x:x[2])
print(by_first_name)
print(by_last_name)
print(by_age)

[('Emily', 'Robinson', 77), ('Ken', 'Wolseley', 23), ('Mark', 'Harrison', 56)]
[('Mark', 'Harrison', 56), ('Emily', 'Robinson', 77), ('Ken', 'Wolseley', 23)]
[('Ken', 'Wolseley', 23), ('Mark', 'Harrison', 56), ('Emily', 'Robinson', 77)]

<details>
  <summary>Answer</summary>

  ```python
  #Here, we have to write functions to get the first, second, and third items in a list.
  #Then, we can use those functions as the keys for sorted().

  people = [('Mark', 'Harrison', 56), ('Ken', 'Wolseley', 23), ('Emily', 'Robinson', 77)]

  def get_first_item(lst):
    return lst[0]

  def get_second_item(lst):
    return lst[1]

  def get_third_item(lst):
    return lst[2]

  by_first_name = sorted(people, key=get_first_item)
  by_last_name = sorted(people, key=get_second_item)
  by_age = sorted(people, key=get_third_item)
  ```
</details>

### 4. Write a function called `dict_intersect` that takes two dictionaries, `d1` and `d2`, as arguments and returns a set that contains only the keys found in both of the original dictionaries.

HINT: Let's break this down into steps. We need to:
*   Get the keys in `d1`
*   Get the keys in  `d2`
*   Convert them both to sets
*   Find their intersection

HINT: Some useful functions and methods are `keys()`, `set()`, and `intersection()`.

In [ ]:
# Your code goes here

<details>
  <summary>Answer</summary>

  ```python
  def dict_intersect(d1, d2):
    '''Return the set of keys found in both d1 and d2.
    >>> dict_intersect({'a': 'A', 'b': 'B', 'c': 'C'}, {'a': 'alpha', 'b': 'beta'})
    {'a', 'b'}
    >>> dict_intersect({'a': 1, 'b': 2}, {'c': 3, 'd': 2})
    set()
    '''
    d1_keys = set(d1.keys())
    d2_keys = set(d2.keys())
    return d1_keys.intersection(d2_keys)
  ```
</details>

### 5. Write a loop that iterates over the two lists below simultaneously. For each pair of values, print the first number divided by the second. When the program encounters a zero divisor, it should skip the pair without printing anything.  

HINT: We can exit a loop early with `break`.

HINT 2: Remember that we can bundle two lists pairwise with `zip()`.

In [ ]:
# Your code goes here

<details>
  <summary>Answer</summary>

  ```python
  dividends = [100, 37.5, -12]
  divisors = [8, 0, -3]

  for x, y in zip(dividends, divisors):
    if y == 0:
      continue
    else:
      print(x/y)
  ```
</details>